site_name: Flutter & Dart Course

nav:
  - Contents: 
    - index.md
    - Sections:
      - 01. Introduction: Pages/01-Introduction.md
      - 02. Flutter & Dart Basics I: Pages/02-Flutter-Dart-Basics-I.md
  - widgets.md

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: dark)"    # Dark mode default
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"   # Light mode
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky

plugins:
  - search
  - offline
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      width: 100%
      height: auto
      zoomable: true
      draggable: true

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption